html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #dce1de;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #1F2421;
}

.container {
    max-width: 1920px;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #49A078;
}

.name {
    font-size: x-large;
    line-height: 100px;
} 

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 80px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 20px;
}


.section-header {
    color: #49A078;
}

.normal-text {
    font-family: 'Oswald', sans-serif;
    color: #1F2421;
}

.center {
    text-align: center;
}

.section {
    width: 500px;
    padding: 20px;
    border: 2px solid #216869;
    margin: auto;
}

.border {
    border: 2px solid green;
}

.button {
    border-radius: 9px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #49A078;
    color: #1F2421;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover  {
    background-color: #216869;
}

#profile-photo {
    height: 90px;
    width: 90px;
    border-radius: 20px;
    float: left;
    padding: 5px;
}

#main-info {
    height: 320px;
    width: 600px;
    margin: auto;
}

#description {
    margin-left: 340px;
    margin-top: 30px;
    width: 200px;
    text-align: justify;
}

#skills:hover {
    transform: rotate(-0.005turn);
}

#skills-list li:nth-of-type(odd){
    font-style: italic;
} 

